h1{
	font-family: sans-serif;
	text-align: center;
}
ul{
	font-family: sans-serif;

}
.navBar {
	text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navBar li{
	display: inline;
}